{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'supplier/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 10%" >Id</th>
        <th scope="col" style="width: 20%" >Rut Empresa</th>
        <th scope="col" style="width: 20%" >Razón Social</th>
        <th scope="col" style="width: 50%" >Giro</th>
        <th scope="col" style="width: 50%" >Teléfono</th>
        <th scope="col" style="width: 50%" >Correo</th>
        <th scope="col" style="width: 60%" >Fecha registro</th>
        <th scope="col" style="width: 20%" >Opciones</th>

    </tr>
{% endblock %}
<div class="card-footer">
    {% block buttons_list %}
        <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
            <i class="fas fa-plus"></i> Nuevo registro
        </a>
        <a href="{{ list_url }}" class="btn btn-success btn-flat">
            <i class="fas fa-sync"></i> Actualizar
        </a>
        <a href="#" class="btn btn-success btn-flat">
            <i class="fas fa-truck-moving"></i> Pedido
        </a>
    {% endblock %}
</div>

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
