{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'supplier/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 10%" >Id</th>
        <th scope="col" style="width: 20%" >Rut Empresa</th>
        <th scope="col" style="width: 20%" >Razón Social</th>
        <th scope="col" style="width: 50%" >Giro</th>
        <th scope="col" style="width: 50%" >Teléfono</th>
        <th scope="col" style="width: 60%" >Fecha registro</th>
        <th scope="col" style="width: 20%" >Opciones</th>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
